<html>
<body>
  <tbody>
  {% for item in items %}
  <tr>
    <td>{{item.miles}} </td>
    <td>{{item.km}} </td>
    <td>{{item.location}} </td>
    <td>{{item.open}} </td>
    <td>{{item.close}} </td>
  </tr>
  {% endfor %}
  </tbody>
</body>
</html>
  
